/*
Theme Name: Dream Machine
Theme URI: https://webapps.studio
Author: the WebApps team
Author URI: https://webapps.studio
Description: The Custom Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: dreammachine

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.owl-my-car-photos img{width: 100%;}
.owl-my-car-photos li:after{content: normal!important;}

.car-info-box h5{font-size: 16px;background-color: #f1f2f5;padding: 10px;}
.car-info-box table{border: 1px solid #f1f2f5;}
.car-info-box table td{padding: 5px 10px;border: 1px solid #f1f2f5;}
.car-info-box table tr td:first-child{font-weight: bold;}

.box-title.style1 .breadcrumbs a{color: #FFF;}

.menu .current-menu-item a{color: #ccc;}

.subscribe-content .wpcf7-form-control-wrap{display: block;position: static;}
.subscribe-content .wpcf7-submit{color: #FFF;}
.subscribe-content input[type="email"]{margin: 0;}

.form-contact-form.style3 .contact-form input[type="email"]{height: 50px;padding-left: 21px;padding-top: 9px;}
.form-contact-form.style3 .contact-form input[type="email"] {border: 1px solid #ebebeb;background-color: transparent;}
.form-contact-form .contact-form input[type="email"] {border-radius: 0;border: transparent;border-bottom: 1px solid #e5e5e5;color: #1e1e27;padding: 0px 0 7px;}
.form-contact-form.style3 .contact-form input[type="email"]:focus{border-color: #1e1e27;}

.contact-page-description{font-weight: 300;margin-bottom: 24px;font-family: 'Poppins';color: #1e1e27;}
.contact-classic > p.color-default{letter-spacing: 5px;}

ul.tab-product-list li{font-family: inherit;}

.content-post blockquote{border-left: 4px solid #CCC;padding-left: 30px!important;margin-left: 60px;}

.tab-about.style2.v1 li.tab-item > div{min-height: 137px;}